.todo-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid #97866a;
  padding: 12px;
  border-radius: 5px;
  background-color: #d29f80;

  .todo-input {
    width: 400px;
    border: none;
    border-bottom: 1px solid #604652;
    outline: none;
    background-color: transparent;
    color: #604652;
    font-size: 18px;
  }

  .content {
    color: #604652;
    font-style: italic;
  }

  .update-button {
    border: none;
    padding: 10px 18px;
    border-radius: 3px;
    background-color: #604652;
    color: #d29f80;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 5px;
  }

  .icons {
    font-size: 25px;
    cursor: pointer;

    .delete-icon {
      color: red;
      margin-right: 8px;
    }

    .update-icon {
      color: blue;
      margin-right: 8px;
    }

    .check-icon {
      color: green;
      margin-right: 8px;
    }
  }

  // RESPONSIVE - Silme onay modalı alt kısımda görünsün
  @media (max-width: 600px) {
    .todo-show {
      flex-direction: column; // Column yaparak elementlerin alt alta sıralanmasını sağla
      align-items: flex-start; // Sol tarafta hizala
      width: 100%; // Tam genişlikte olsun
    }

    .todo-input,
    .content {
      width: 100%; // Ekrana tam uyumlu olsun
      font-size: 16px; // Yazı boyutunu biraz küçült
    }

    .icons {
      margin-top: 0;
      display: flex;
      justify-content: flex-start; // Yatayda başa yasla
      gap: 8px;
    }
  }

  .confirmation-modal {
    flex-direction: column; // Alt alta getir
    align-items: flex-start;

    p {
      margin-bottom: 10px;
    }

    div {
      display: flex;
      gap: 8px;
    }
  }
}
